
<nav class="navbar navbar-default">
         <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'admin_home' %}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'open_state' %}">State</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'open_city' %}">City</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'open_area' %}">Area</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Type</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Restaurant</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'admin_logout' %}">LogOut</a></li>
            </ul>
        </div>
    </nav>